<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
  <tr>
    <td style="padding:0 0 15px 0;">
      <a href="https://www.acadon.net" target="_blank" style="text-decoration:none;">
        <img src="@@AssetBaseUrl@@/acadon-logo.png" alt="acadon" width="150" height="150" style="display:block; border:0;" />
      </a>
    </td>
  </tr>
  <tr>
    <td style="padding:0 0 15px 0;">
      <img src="@@AssetBaseUrl@@/acadon-brand.png" alt="acadon" width="150" height="45" style="display:block; border:0;" />
    </td>
  </tr>
  <tr>
    <td style="padding:0;">
      <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
        <tr>
          <td style="padding:0 3px 0 0;">
            <a href="https://www.facebook.com/acadon/" target="_blank" style="text-decoration:none;">
              <img src="@@AssetBaseUrl@@/icon-facebook.png" alt="Facebook" width="24" height="24" style="display:block; border:0;" />
            </a>
          </td>
          <td style="padding:0 3px;">
            <a href="https://www.youtube.com/channel/UCUqgRvJOtV-gWwgDmilEyTw" target="_blank" style="text-decoration:none;">
              <img src="@@AssetBaseUrl@@/icon-youtube.png" alt="YouTube" width="24" height="24" style="display:block; border:0;" />
            </a>
          </td>
          <td style="padding:0 3px;">
            <a href="https://www.linkedin.com/company/acadon" target="_blank" style="text-decoration:none;">
              <img src="@@AssetBaseUrl@@/icon-linkedin.png" alt="LinkedIn" width="24" height="24" style="display:block; border:0;" />
            </a>
          </td>
          <td style="padding:0 0 0 3px;">
            <a href="https://www.instagram.com/acadon_ag/" target="_blank" style="text-decoration:none;">
              <img src="@@AssetBaseUrl@@/icon-instagram.png" alt="Instagram" width="24" height="24" style="display:block; border:0;" />
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
